body {

font-family:
Segoe UI, Arial;

margin:0;

background:#f5f8fc;

color:#333;

}



header {

background:#0078d4;

color:white;

padding:40px;

text-align:center;

}



nav a {

color:white;

margin:15px;

text-decoration:none;

font-weight:bold;

}



.hero {

padding:60px;

text-align:center;

background:white;

}



button {

background:#0078d4;

color:white;

padding:15px 30px;

border:none;

border-radius:8px;

font-size:18px;

}



.cards {

display:flex;

gap:20px;

flex-wrap:wrap;

justify-content:center;

}



.card {

background:white;

width:280px;

padding:25px;

border-radius:15px;

box-shadow:
0 5px 15px #ccc;

}



.card a {

color:#0078d4;

font-weight:bold;

}



.videos {

display:flex;

gap:20px;

flex-wrap:wrap;

justify-content:center;

}



iframe {

width:350px;

height:200px;

border-radius:10px;

}



section {

padding:40px;

}



footer {

background:#222;

color:white;

text-align:center;

padding:20px;

}
