@font-face {
  font-family: 'StackSansNotch';
  src: url('StackSansNotch-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*{
  margin: 0;
  padding: 0;
  
}
header{
  padding: 45px;
  background-color: MidnightBlue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow: visible;
  gap: 25px;
}
a{
  font-family: 'StackSansNotch';
  text-decoration: none;
  color: AliceBlue;
  font-size: 30px;
  padding: 15px 20px;
}
a:hover{
  font-size: 35px;
  background-color: Navy;
}
header p{
  font-family: 'StackSansNotch';
  color: AliceBlue;
  font-size: 35px;
}
.dropdown_menu{
  position: relative;
  display: inline-block;
}
.dropdown_content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  min-width:400px;
  background-color: SteelBlue;
  z-index: 999;
}
.dropdown_content a{
  color: OldLace;
  text-decoration: none;
  display: block;
}
.dropdown_content a hover{
  font-size: 35px;
  background-color: SteelBlue;
}
.dropdown_menu:hover .dropdown_content {
  display: block;
}
.banner {
  position: relative;
  width: 100%;
  height: 200%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: 1; 
}
.banner-content {
  position: relative;
  z-index: 2;
  color: AliceBlue;
  text-align: center;
}
.banner p{
  font-family: Garamond;
}
.banner h1{
  font-family: 'StackSansNotch';
}
.video-carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}
 
.video-slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
}
 
.video-slide video {
  width: 100%;
  height: auto;
}
.video-carousel-container {
  position: relative;
}
 
.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
 
.prev-button {
  left: 10px;
}
 
.next-button {
  right: 10px;
}
