*{
  margin: 0;
  padding: 0;
  
}
header{
  padding: 30px;
  background-color: MidnightBlue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
a{
  text-decoration: none;
  color: AliceBlue;
  padding: 10px;
}
a:hover{
  font-size: 26px;
}
p{
  color: AliceBlue;
  font-size: 26px;
}
